@import 'header.css';
@import 'login_form.css';

/*      estilos globais    */
main {
  margin-top: 90px;
}
a {
  color: #006400;
}
a:hover {
  color: #004600;
}
.title-dk-green {
  font-weight: bolder;
  color: #006400;
}
.bg-green {
  background-color: #9acd32;
}
.btn-dk-green {
  background: #006400;
  color: #fff;
  border-radius: 5px;
}
.btn-dk-green:hover {
  background: #004600;
  color: #fff;
  border-radius: 5px;
}

/*     detalhe de anuncio     */

img {
  width: 100%;
}
li img {
  width: 100px;
}

/* mapa  */
.map-container-5 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container-5 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#new_anun {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.new_anun_h1 {
  color: #107521;
  font-size: 30pt;
}

.new_anun_h2 {
  color: #000000;
  font-size: 12pt;
}
.new_anun {
  text-align: justify-center;
  margin: 2em;
}
.new_anun_input {
  background-color: #eefca7;
  width: 500px;
  border: 0;
  border-radius: 8%;
}
.button_anun {
  /*margin-left: */
  background-color: #ffffff;
  text-align: left;
  border: 0;
  border-radius: 8%;
}
.button1 {
  background-color: #ffffff;
  margin-left: 45em;
}
.button2 {
  background-color: #ffffff;
  margin-left: 15em;
}
.button3 {
  background-color: #7ec91c;
  margin-left: 30em;
  width: 100px;
}

.close {
  position: absolute;
  max-width: 50px;
}
