@import 'header.css';
@import 'login_form.css';

/*      estilos globais    */
main {
  margin-top: 90px;
}
a {
  color: #006400;
}
a:hover {
  color: #004600;
}
.bg-green {
  background-color: #9acd32;
}
.btn-dk-green {
  background: #006400;
  color: #fff;
  border-radius: 5px;
}
.btn-dk-green:hover {
  background: #004600;
  color: #fff;
  border-radius: 5px;
}

/*     detalhe de anuncio     */

img {
  width: 100%;
}
li img {
  width: 100px;
}

/* mapa  */
.map-container-5 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container-5 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
